@import "animate-custom.css";
/*@import "icomoon-style.css";*/



@keyframes blink {
    0% { background: cyan; }
    100% { background: #444; }
}
@-webkit-keyframes blink {
    0% { background: cyan; }
    100% { background: #444; }
}

@keyframes L {
    0% { background: red; }
    100% { background: #444; }
}
@-webkit-keyframes L {
    0% { background: red; }
    100% { background: #444; }
}


@keyframes S {
    0% { background: yellow; }
    100% { background: #444; }
}

@-webkit-keyframes S  {
    0% { background: yellow; }
    100% { background: #444; }
}

#paddle {
    -webkit-animation: blink 0.7s linear infinite;
    -moz-animation: blink 0.7s linear infinite;
    -ms-animation: blink 0.7s linear infinite;
    -o-animation: blink 0.7s linear infinite;
    animation: blink 0.7s linear infinite;
    color: white;
    overflow: hidden;
    width: 150px;
    height: 15px;
    left: 15px;
    bottom: 15px;
    z-index: 1000000;
    display: block;
    position: fixed;
    border-radius: 50px;
    box-shadow: 2px 8px 10px rgba(0,0,0,.3);
}

.breakout-bonus.S {
    background-color: yellow;
}

.breakout-bonus.L {
    background-color: red;
}

#paddle.L {
    -webkit-animation: L 0.5s linear infinite;
    -moz-animation: L 0.5s linear infinite;
    -ms-animation: L 0.5s linear infinite;
    -o-animation: L 0.5s linear infinite;
    animation: L 0.5s linear infinite;
}

#paddle.S{
    -webkit-animation: S 0.5s linear infinite;
    -moz-animation: S 0.5s linear infinite;
    -ms-animation: S 0.5s linear infinite;
    -o-animation: S 0.5s linear infinite;
    animation: S 0.5s linear infinite;
}

.gradient-overlay{
    width: 94.5%;
    height: 30px;
    background: linear-gradient(rgb(140,140,140),rgb(30,30,30));
    position: absolute;
    left: 2.5%;
}

td.weekday{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body.w-refresh{
    background: rgba(0,0,0,.9);
}

#ball.ball{
    width: 20px;
    height: 20px;
    position: fixed;
    border-radius: 50%;
    margin: 0px;
    top: 947px;
    left: 1278.19549005682px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
    background: radial-gradient(circle at 0px 0px, rgb(220, 220, 220), rgb(80, 80, 80));
}

#level-head-div{
    display: none;
    top: 0px;
    width: 100%;
 height: auto;
 position: absolute;
 background-image: linear-gradient(to bottom, #f5f9fc, #c4cbd1);
 vertical-align: middle;
 text-align: centre;

}

#level-heading{
    text-align: center;
 margin: auto;
 padding-top: 5px;
padding-bottom: 5px;
 z-index: 9999999
}

.breakout-level{
    text-align: right;
    float: right;
}

.breakout-score{
    text-align: right;
    float: right;
    padding-right: 2em;
}



.breakout-bonus.S {
    background-image: linear-gradient(to bottom, #f5f9fc, #ff0000);
}
#overlay{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    background: none;
    width:100%;
    z-index: 9999999999999999;
    height:100%;
    position:fixed;
    top: 0%;
    left:0%;
    visibility: block;
    text-indent: -9999px;
}

.breakout-score, .breakout-level{
    font-size: 34px;
    margin-top: 10px;
    font-weight: 100;
    padding-left: 20px;
}

.w-header__inner.container{
    padding-bottom: 10px;
}

.actionIcons{
    display: none;
}

.fa-heart, .fa-heart-o{
    font-size: 24px!important;
}
.fa-heart{
    color:rgb(229, 55, 33);
}
.fa-heart-o{
    color:#b0b0b0;
}


/*  BONUSES
        'M': this.multiBall,
        'S': this.stickyBall,
        'T': this.thinPaddle,
        'F': this.fatPaddle,
        'L': this.lazers
*/

.breakout-bonus{
    width: 40px;
    text-align: center;
    padding: 2px;
    height: auto;
    border-radius: 20px;
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(#666,#444);
}

.breakout-bonus.L{color: rgb(255, 136, 0);}
.breakout-bonus.L:before {content: "\f135";}

.breakout-bonus.M{ color: rgb(255, 136, 0);}
.breakout-bonus.M:before { content: "\f135";}

.breakout-bonus.S{ color: rgb(255, 136, 0);}
.breakout-bonus.S:before { content: "\f135";}

.breakout-bonus.T{ color: rgb(255, 136, 0);}
.breakout-bonus.T:before { content: "\f135";}

.breakout-bonus.F{ color: rgb(255, 136, 0);}
.breakout-bonus.F:before { content: "\f135";}




